.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}
.m-auto {
  margin: auto;
}
.mx-auto {
  margin-inline: auto;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-1 {
  flex: 1;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.text-upper {
  text-transform: uppercase;
}
.d-inline-block {
  display: inline-block;
}
.mx-20 {
  max-width: 20.5rem;
}
.align-self-center {
  align-self: center;
}
.align-self-start {
  align-self: start;
}
.align-item-start {
  align-items: flex-start;
}

.flex-2 {
  flex: 2;
}
.flex-15 {
  flex: 1.5;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}

.filter {
  filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, 0.05));
}
.none {
  display: none;
}
.lg-hidden {
  display: none;
}

.block {
  display: block;
}
/* transition */
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.duration-300 {
  transition-duration: 0.3s;
}
.transition {
  transition-property: background-color, opacity, color;
}
